$def with(alumnos)
<h3>
    <a href="/alumnos">Alumnos</a>
</h3>
<table id="datos_tabla" class="table table-hover" cellspacing="0" width="100%">
    <thead>
        <th>ID</th>
        <th>Alumno</th>
        <th>Grupo</th>
        <th>Opciones</th>
    </thead>
    <tbody>
        $for item in alumnos:
        <tr>
            <td><a href='/alumnos/view/$item.id_alumno'>$item.id_alumno.split("!")[0]</a></td>
            <td><a href='/alumnos/view/$item.id_alumno'>$item.nombre_alumno</a></td>
            <td><a href='/alumnos/view/$item.id_alumno'>$item.grupo</a></td>
            <td>
                <a href='/alumnos/edit/$item.id_alumno'><span class="glyphicon glyphicon-pencil"></span></a>
                <a href='/alumnos/delete/$item.id_alumno'><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
    </tbody>
</table>
<br>
<br>