$def with(asistencias, message)
<h3>
    <a href="/asistencias"><span class="glyphicon glyphicon-file"></span> asistencias</a>
</h3>
$if message != None:
    <div class="alert alert-warning">
        <strong>Advertencia </strong> $message
    </div>
    <br>

<form action="" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id_asistencia" id="id_asistencia" value="$asistencias.id_asistencia" />

    <div class="form-group">
    <label>id_alumno</label>
    <input readonly id="id_alumno" type="text" class="form-control" name="id_alumno" size="30" value="$asistencias.id_alumno"/>
</div><div class="form-group">
    <label>fecha</label>
    <input readonly id="fecha" type="text" class="form-control" name="fecha" size="30" value="$asistencias.fecha"/>
</div><div class="form-group">
    <label>asistio</label>
    <input readonly id="asistio" type="text" class="form-control" name="asistio" size="30" value="$asistencias.asistio"/>
</div>

    <div class="form-group">
        <label></label>
        <button id="send" name="send" class="form-control"><span class="glyphicon glyphicon-trash"></span> Delete</button>
    </div>
</form>
<br>
<br>
<br>