<h3>
    <a href="/table_name">
        <span class="glyphicon glyphicon-file"></span> table_name</a>
</h3>
<form action="" method="post" enctype="multipart/form-data">

    <div class="form-group">
        <label>id_alumno</label>
        <input required id="id_alumno" type="text" class="form-control" name="id_alumno" size="30" />
    </div>
    <div class="form-group">
        <label>fecha</label>
        <input required id="fecha" type="text" class="form-control" name="fecha" size="30" />
    </div>
    <div class="form-group">
        <label>asistio</label>
        <input required id="asistio" type="text" class="form-control" name="asistio" size="30" />
    </div>

    <div class="form-group">
        <label></label>
        <button id="send" name="send" class="form-control">
            <span class="glyphicon glyphicon-save"></span> Save</button>
    </div>
</form>
<br>
<br>